body
{background-color: black;
color:pink;
font-family: 'Times New Roman';
font-size: medium;
} 
h1{
    font-family:'homer simpson UI';
    font-size: 2cm;
    color:white;
}  
menu{
    width:100%;
    height: 130px;
    z-index: 130px;
    background: #000000;
    font-size: 70px;
    font-family: Times New Roman;
    text-align: center;
    margin-top: -8px;
}
.menu ul{
    padding: 0%;
    list-style: none;
    display: inline-flex;
}
.menu li{
    padding-top: 15px;
    padding-left: 30px;
} 
.menu li a:hover{
    color: rgb(252, 248, 15); 
    text-decoration: overline;

} 
.menu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
color: blanchedalmond; 
} 
.carousel-inner {
    width: 1200;
height:100 ;

}
h4{
    font-size: 25px;
}
menu {
    font-size: 35px;
}